PORT=3000

PG_HOST=localhost
PG_PORT=5433
PG_TIME_OUT_MS=30000
PG_DATABASE=meucrm
PG_USER=postgres
PG_PASSWORD=postgres

ADMIN_NAME=Admin
ADMIN_EMAIL= admin@meucrm.com
ADMIN_PASSWORD=123456

JWT_SECRET=insira-sua_chave_secreta_aqui
JWT_EXPIRES_IN=1800
